* {
    margin: 0px auto;
    padding: 0px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.col, .col-2, .col-3 {
    background-color: teal;
    color: white;
    font-family: sans-serif;
    padding: 25px 25px;
}

.col {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}